<p id="notice"><%= notice %></p>

<h1>Room Conditions</h1>

<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @conditions.each do |con| %>
      <tr>
        <td><%= con.location %></td>
        <td><%= con.start %></td>
        <td><%= con.end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
