<div class="row">
    <div class="col align-self-start"></div>
    <div class="col-md-8 align-self-center">
        <%= form_with(url: signin_path, scope: :session, local: true) do |f| %>
            <div class="form-group form-icons">
                <span class="fa fa-envelope errspan"></span>
                <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
            </div>

            <div class="form-group form-icons">
                <span class="fa fa-unlock-alt errspan"></span>
                <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
            </div>
            <%= f.submit "Sign in", class: "btn btn-dark col" %>
        <% end %>
    </div>
    <div class="col align-self-end"></div>
</div>
