<% provide(:img_src, "signin-image.jpg")%>
<div class="section">
    <div class="row">
        <div class="col-md-6 ">
            <h1 class="title">Sign In</h1>
            <%= render 'form', user: @user %>
        </div>
        <div class="col-md-6 signin-div">
            <%= image_tag(yield(:img_src), class:"signin")%>
        </div>
    </div>
</div>
<br>
<br>
<hr class="separate">