/* line 100, app/assets/stylesheets/custom.scss */
#bootstrap-overrides a {
  color: #212022;
  text-decoration: none;
  transition: all 0.3s;
}
/* line 4, app/assets/stylesheets/preferences.scss */
#nav-bar {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
