<div class = "row">
    <%= link_to "Personal Information", edit_user_path(current_user)%>
</div>
<div class = "row">
    <%if current_user.preference.nil?%>
        <%= link_to "Room Preference", new_preference_path%>
    <% else %>
        <%= link_to "Room Preference", edit_preference_path(current_user.preference)%>
    <%end%>
</div>
