<!-- Section 1 -->
<div class="section-1-container section-container">
    <div class="container">
        <!-- section title -->
        <div class="row">
            <div class="col section-1 section-description wow fadeIn">
                <h2>Features</h2>
                <div class="divider-1 wow fadeInUp"><span></span></div>
            </div>
        </div>
        <!--feature 1 -->
        <div class="features">
            <%# <img
                src="assets/img/free.png"
                data-src="img/digital.jpg"
                alt="Computer"
                class="features__img lazy-img"
            /> %>
                <%=image_tag("free.png", class: "features__img lazy-img", alt: "free")%>
            <div class="features__feature">
                
                <h4 class="features__header"> Everything Free</h4>
                <div class="text-md-left text-center">
                    <p class="lead">
                        We provide you all the services at no cost. What you need to do is just setting up an account. Simple Enough!
                    </p>
                </div>
            </div>
            <!--feature 2 -->
            <div class="features__feature">
                
                <h4 class="features__header">Connect</h4>
                <div class="text-md-left text-center">
                    <p class="lead">
                        Private and secure in-app messaging lets you interview and get to know each other with confidence.
                    </p>
                </div>
            </div>
            <%# <img
                src="assets/img/connect.png"
                data-src="img/digital.jpg"
                alt="Computer"
                class="features__img lazy-img"
            /> %>
            <%=image_tag("connect.png", class: "features__img lazy-img", alt: "connect")%>
            
            <!--feature3-->
            <%# <img
                src="assets/img/match.png"
                data-src="img/digital.jpg"
                alt="Computer"
                class="features__img lazy-img"
            /> %>
            <%=image_tag("match.png", class: "features__img lazy-img", alt: "match")%>
            
            <div class="features__feature">
                
                <h4 class="features__header"> Match</h4>
                <div class="text-md-left text-center">
                    <p class="lead">
                        Our platform matches candidates with a unique compatibility score. 
                        We make sure you get the best match!
                    </p>
                </div>
            </div>
        </div>
        
        
                    
    </div>
        
</div>
  