<!-- Section 3 -->
<div class="section-3-container section-container">
    <div class="container">
        
        <div class="row">
            <div class="col section-3 section-description wow fadeIn">
            
                <h2>Check Out What They Say</h2>
                
                <div class="divider-1 wow fadeInUp"><span></span></div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6 section-3-box wow fadeInLeft">
                <div class="row">
                    <div class="col-md-3">
                            <%# <img class="rounded-circle" src="assets/img/panda.jpg" width="w-75 p-3" alt="person 1"> %>
                            <%=image_tag("panda.jpg", class: "rounded-circle", alt: "panda")%>
                            <p class="text-center">Allison Panda Seattle</p>
                    </div>
                    <div class="col-md-9">
                        <h3>Best roommates match application ever!</h3>
                        <p>
                            Once I got matched, I can chat with them for more information.
                            Underoof is so beautifully designed, easy to use and search. 
                            I will definitely share this with my friends!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 section-3-box wow fadeInLeft">
                <div class="row">
                    <div class="col-md-3">
                        <%# <img class="rounded-circle" src="assets/img/tortise.jpg" width="w-75 p-3" alt="person 2"> %>
                        <%=image_tag("tortise.jpg", class: "rounded-circle", alt: "tortise")%>
                            <p class="text-center">Josh Tortise Miami</p>
                    </div>
                    <div class="col-md-9">
                        <h3>It has everything I looked for.</h3>
                        <p>
                            It was long ago when I was the one looking at all these websites and the one I would feel comfortable to share room with. I was in heaven when I reached Underoof, and looking back all I wish I have wasted less time chec...
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6 section-3-box wow fadeInLeft">
                <div class="row">
                    <div class="col-md-3">
                        <%# <img class="rounded-circle" src="assets/img/racoon.jpg" width="w-75 p-3" alt="person3"> %>
                        <%=image_tag("racoon.jpg", class: "rounded-circle", alt: "racoon")%>
                            <p class="text-center">Jessica Racoon Atlanta</p>
                    </div>
                    <div class="col-md-9">
                        <h3>Overrall good experience</h3>
                        <p>
                            Quick and easy roommates hunt. Lots of tools to help you get it 
                            done as efficiently as possible. Overral it was a good experience 
                            for me.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 section-3-box wow fadeInLeft">
                <div class="row">
                    <div class="col-md-3">
                        <%# <img class="rounded-circle" src="assets/img/dog.jpg" width="w-75 p-3" alt="person 4"> %>
                        
                        <%=image_tag("dog.jpg", class: "rounded-circle", alt: "dog")%>
                            <p class="text-center">Adam Doggie Denver</p>
                    </div>
                    <div class="col-md-9">
                        <h3>Easy to find a roommate here.</h3>
                        <p>
                            Just open an account and fill in your profile, they will match you with 
                            someone immediately. No annoying ads, no complex procedures...Underoof does the real job.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
