body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #888;
  line-height: 30px;
  text-align: center;
}

strong {
  font-weight: 600;
}

a {
  color: #161616;
  /*border-bottom: 1px dashed #a365bc; */
  text-decoration: none;
  transition: all 0.3s;
}
a:hover,
a:focus {
  color: #a365bc;
  border: 0;
  text-decoration: none;
}

h1,
h2 {
  margin-top: 10px;
  font-size: 38px;
  font-weight: 300;
  color: #555;
  line-height: 50px;
  font-style: italic;
}
h3 {
  font-size: 22px;
  font-weight: 300;
  color: #555;
  line-height: 30px;
  font-style: italic;
}

img {
  max-width: 100%;
}

.medium-paragraph {
  font-size: 17px;
  line-height: 32px;
}

::-moz-selection {
  background: #8542a0;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #8542a0;
  color: #fff;
  text-shadow: none;
}

/***** General style, all sections *****/

.section-container {
  margin: 0 auto;
  padding-bottom: 80px;
}

.section-container-gray-bg {
  background: #f8f8f8;
}

.section-container-image-bg,
.section-container-image-bg h2,
.section-container-image-bg h3 {
  color: #fff;
}

.section-container-image-bg .divider-1 span {
  border-color: #fff;
}

.section-description {
  margin-top: 60px;
  padding-bottom: 10px;
}

.section-description p {
  margin-top: 20px;
  padding: 0 120px;
}
.section-container-image-bg .section-description p {
  opacity: 0.8;
}

.section-bottom-button {
  padding-top: 60px;
}

/***** Divider *****/

.divider-1 span {
  display: inline-block;
  width: 200px;
  border-bottom: 1px dotted #aaa;
}

/***** Top menu *****/

.navbar {
  background: #444;
  transition: all 0.6s;
  backface-visibility: hidden;
}

.navbar.navbar-no-bg {
  background: #444;
  background: rgba(0, 0, 0, 0.2);
}
.round-shape {
  background-color: white;
  border-radius: 100px;
  border: none;
  width: 100px;
}

.round-shape-large {
  background-color: white;
  border-radius: 100px;
  border: none;
  width: 400px;
}

.navbar-dark .navbar-nav {
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  border: 0;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
}
.navbar-dark .navbar-nav .nav-link:focus {
  color: #fff;
  outline: 0;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
}

.navbar-brand {
  width: 123px;
  background: url(../img/logo.png) left center no-repeat;
  border: 0;
  text-indent: -99999px;
}

/***** Top content *****/

.top-content {
  width: 100%;
}

.top-content h1 {
  margin-top: 25px;
  color: #fff;
}
.top-content .description {
  margin: 30px 0 10px 0;
}
.top-content .description p {
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
}
.top-content .description a {
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  border-color: #fff;
  border-color: rgba(255, 255, 255, 0.8);
}
.top-content .description a:hover,
.top-content .description a:focus {
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
}

.top-content .carousel-caption {
  bottom: 200px;
}

/***** Section 1 *****/

.section-1-box {
  padding-top: 30px;
  text-align: left;
}

.section-1-box .section-1-box-icon {
  width: 80px;
  height: 80px;
  margin: 0 auto;

  background: #8542a0; /* Old browsers */
  background: -moz-linear-gradient(top, #a365bc 0%, #8542a0 100%); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #a365bc),
    color-stop(100%, #8542a0)
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    #a365bc 0%,
    #8542a0 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    #a365bc 0%,
    #8542a0 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #a365bc 0%, #8542a0 100%); /* IE10+ */
  background: linear-gradient(to bottom, #a365bc 0%, #8542a0 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a365bc', endColorstr='#8542a0',GradientType=0 ); /* IE6-9 */

  font-size: 40px;
  color: #fff;
  line-height: 80px;
  text-align: center;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -o-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -ms-transition: all 0.6s;
  transition: all 0.6s;
}

.section-1-box h3 {
  margin-top: 0;
  padding: 0 0 10px 0;
}

/*For Features*/
.features {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 2rem;
  margin: 0 8rem;
}

.features__img {
  width: 75%;
}

.features__feature {
  align-self: center;
  justify-self: center;
  width: 100%;
  font-size: 2rem;
}

.features__header {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/***** Section 2 *****/

.section-2-box {
  margin-top: 30px;
  text-align: left;
}
.section-2-box h3 {
  margin-top: 0;
}
.section-2-box-text .medium-paragraph {
  margin-top: 20px;
  margin-bottom: 20px;
}

/*Slider effect*/
h2 {
  text-align: center;
  padding: 20px;
}
/* Slider */

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

/***** Section 3 *****/

.section-3-box {
  margin-top: 30px;
  text-align: left;
}

.section-3-box .section-3-box-icon {
  width: 60px;
  height: 60px;
  margin: 0 auto;

  background: #8542a0; /* Old browsers */
  background: -moz-linear-gradient(top, #a365bc 0%, #8542a0 100%); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #a365bc),
    color-stop(100%, #8542a0)
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    #a365bc 0%,
    #8542a0 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    #a365bc 0%,
    #8542a0 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #a365bc 0%, #8542a0 100%); /* IE10+ */
  background: linear-gradient(to bottom, #a365bc 0%, #8542a0 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a365bc', endColorstr='#8542a0',GradientType=0 ); /* IE6-9 */

  font-size: 28px;
  color: #fff;
  line-height: 60px;
  text-align: center;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.section-3-box h3 {
  margin-top: 0;
  padding: 0 0 10px 0;
}

/***** Footer *****/

footer {
  padding: 40px 0;
}
