<p id="notice"><%= notice %></p>

<h1>Room Preferences</h1>

<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @preferences.each do |pref| %>
      <tr>
        <td><%= pref.location %></td>
        <td><%= pref.start %></td>
        <td><%= pref.end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
