/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 .room-nav-link {
    border: 1px solid lighten($primary, 40%);
    background: lighten($primary, 45%);
  
    & + .room-nav-link {
      border-top: 0 none;
    }
}
.chat {
    border: 1px solid lighten($secondary, 40%);
    background: lighten($secondary, 50%);
    height: 50vh;
    border-radius: 5px 5px 0 0;
    overflow-y: auto;
}
  
.chat-input {
    border-top: 0 none;
    border-radius: 0 0 5px 5px;
}
.chat-message-container {
    padding: 5px;
  
    .avatar {
      margin: 5px;
    }
  
    .message-content {
      padding: 5px;
      border: 1px solid $primary;
      border-radius: 5px;
      background: lighten($primary, 10%);
      color: $white;
    }
  
    & + .chat-message-container {
      margin-top: 10px;
    }
}