@import "bootstrap";
$color: #4CAF50;

body {
    text-align: center;
}

.center {
    text-align: center;
    h1 {
      margin-bottom: 10px;
    }
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
} 

th {
    text-align: center;
}

.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}
  
.new {
    border-color: $color;
    color: green;
}
  
.new:hover {
    background-color: $color;
    color: white;
}

.navbar {
    width: 100%;
    min-height: 20px;
    height:40px;
    background-color: rgb(63, 142, 161);
}

.navbar a {
    float: center;
    text-align: center;
    padding: 6px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #000;
}

.active {
    background-color: $color;
}
  
/* footer */

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
}
  
footer a {
    color: #555;
}
  
footer a:hover {
    color: rgb(187, 207, 189);
}
  
footer small {
    float: left;
}
  
footer ul {
    float: right;
    list-style: none;
}
  
footer ul li {
    float: left;
    margin-left: 15px;
}

.checkbox {
    margin-top: -10px;
    margin-bottom: 10px;
    span {
      margin-left: 20px;
      font-weight: normal;
    }
  }
  
#session_remember_me {
    width: auto;
    margin-left: 0;
}