// @import "font-awesome-sprockets";
// @import "font-awesome";
// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.container.im-bg{
  background-image: 
  url("https://i.postimg.cc/XJwXtv7F/nicontents-kpecd-Edz-MWU-unsplash-1.jpg");
  background-size:     cover;                     
  background-repeat:   no-repeat;
  background-position: center center;
  background-attachment: fixed;
}



.title{
    font-family: "Alfa Slab One";
    text-align: center;
}


.errspan {    
  float: right;
  top: 24px;
  right: 6px;
  position: relative;
  z-index: 2;
  color: grey;
}