<!-- Section 4 -->
<div class="section-4-container section-container">
    <div class="container">
        <div class="row">
            <div class="col section-4 section-description wow fadeInLeftBig">
                <h2>It's Never Too Late to Start Right Now!</h2>
                <button class="btn-lg round-shape-large p-3"><%= link_to 'Open your free account today', signup_path%></button>
            </div>
        </div>
    </div>
</div>