<footer class="footer">
  <div class="container">
    <small>
      Underroof By Team 7
    </small>

  <!--
  <nav>
    <ul>
        <li><%= link_to "Users",   '/users' %></li>
    </ul>
  </nav>
  -->
  </div>
</footer>
