

<footer class="footer-container">
        
  <div class="container">
    <div class="row">
      <div class="col">
        <h4>About Us</h4>
        </br>
          <div class="container-fluid cxt-padded bg-faded">
            <div class="container">
              <div class="row">
                <div class="col-md-3 text-md-left text-center">
                  <img class="rounded-circle" src="assets/img/backgrounds/about_us.jpg" width="w-75 p-3" alt="our picture">
                </div>
                <div class="col-md-9 text-md-left text-center">
                  <p class="lead">"Since the beginning of 2021, we have been making consistent contributions to this application. Your support will be critical to our development." </p>
                  
                </div>
              </div>
            </div>
          </div>
        
      </div> 

      
        
    
        
    <div class="col">
      <h4>Contact Us</h4>
      </br>
      <ul class="list-unstyled">
        <li >
          <a href="https://www.linkedin.com/in/xiangyu-li-8810571b5/">Xiangyu Li,   jacobli@brandeis.edu</a>
        </li>
        <li >
          <a href="https://www.linkedin.com/in/xuanlin-yan-a459a11b5/">Xuanlin Yan,   xyan20@brandeis.edu</a>
        </li>
        <li >
          <a href="https://www.linkedin.com/in/xulin-wang-6763611a8/">Xulin Wang, xwang143@brandeis.edu</a>
        </li>
        <li >
          <a href="https://www.linkedin.com/in/zheng-chu-62553a1a0/">Zheng Chu, czzzzn1001@gmail.com</a>
        </li>
      </ul>
    </div> 
  </div> 
  </br>
  <div class="row text-center text-center justify-content-center align-self-center">
    <h6>	&copy; Underoof by Team 7@2021. All Rights Reserved </h6>  
  </div>
  
  </div>            	
</footer>
